@import "~antd/dist/antd.less";

@primary-color: #70009c;
@border-radius-base: 5px;

.component-border {
  border: 2px solid #70009c;
  border-radius: 5px;
}

.no-link-style,
.no-link-style:hover,
.no-link-style:active {
  color: @text-color !important;
}

.bg-primary {
  background-color: @primary-color;
}
