.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.paddings-sides {
  padding-left: 2rem;
  padding-right: 2rem;
}

.margins,
.margins-sides,
.margin-left {
  margin-left: 2rem;
}

.margins,
.margins-sides,
.margin-right {
  margin-right: 2rem;
}

.margins,
.margin-top {
  margin-top: 2rem;
}

h1.margins,
h1.margin-top {
  margin-top: 1.5rem;
}

.margins,
.margin-bottom {
  margin-bottom: 2rem;
}

.extra-margins-sides {
  margin: 0;
}

@media (min-width: 800px) {
  .extra-margins-sides {
    margin-left: 12%;
    margin-right: 12%;
  }
}

@media (min-width: 1300px) {
  .extra-margins-sides {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 1800px) {
  .extra-margins-sides {
    margin-left: 30%;
    margin-right: 30%;
  }
}
